body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    user-select: none;
}

.image-sec {
    background-image: url('https://wallpapercave.com/wp/wp8984777.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.start-menu {
    width: 90vw;
    color: black;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 10px;
}

.instructions {
    width: 94%;
    margin-top: 10px;
    padding: 3%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.242);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container div {
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    background-color: aliceblue;
    border: 2px solid black;
    width: 90px;
    height: 90px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 10px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    display: none;
}

.start, .restart {
    background-color: #2b2424;
    color: white;
    width: 90px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.won {
    width: 200px;
    height: 130px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    align-items: end;
    display: none;
}

.card {
    height: 50px;
    margin-block: 10px;
    margin-inline: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.color-win {
    width: 40px;
    height: 40px;
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.4);
    margin-right: 10px;
    border-radius: 10px;
}

.statement {
    width: 105px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.restart {
    margin-left: 10px;
    margin-top: 20px;
    height: 40px;
}
